<div class="container" id="footer">
  <footer class="text-muted pt-4 pb-5 border-top border-gray-light">
    <div>
      <span>
        © Authenticator
      </span>
    </div>
    <div class="py-2">
      <span>
        <a class="ps-0 text-dark" href="{{ site.privacy_url }}">Privacy Policy</a>
      </span>
      <span>
        <a class="p-2 text-dark" href="{{ site.terms_of_service_url }}">Terms of Use</a>
      </span>
      <span>
        <a class="p-2 text-dark" href="{{ site.support_mail }}">Email Us</a>
      </span>
      <span>
        <a class="p-2 text-dark" href="{{ site.twitter }}">Twitter</a>
      </span>
  </footer>
</div>
