<div class="container" id="footer">
  <footer class="text-muted pt-4 pb-5 border-top border-gray-light">
    <span>
      © 2021 Authenticator.</br>
    </span>
    <span>
      <a href="{{ site.privacy_url }}" class="btn pl-0">
      Privary Policy
      </a>
    </span>
    <span>
      <a href="{{ site.terms_of_service_url }}" class="btn">
      Terms of Use
      </a>
    </span>
    <span>
      <a href="{{ site.support_mail }}" class="btn">
      Email Us
      </a>
    </span>
    <!-- <span><a href="./help.html" class="btn"> Help </a></span> -->
    <!-- <span><a href="./about.html" class="btn"> About </a></span> -->
  </footer>
</div>