  <header class="px-2 py-5" role="banner">
    <div class="row">
      <div class="col-md-6 py-5" style="align-items: stretch">
        <h1 class="display-4 py-2">Authenticator: Widget & Backup</h1>
        <h6 class="lead">Secure and fast two-factor authentication manager for iPhone, iPad, iPod, Apple Watch and macOS.</h6>
        
        <div class="py-4">
          {% if site.available_on_app_store %}
          <p>
            <a href="{{ site.iOS_url }}">
              <img 
              src="./assets/img/badge-download-on-the-app-store.svg" 
              alt="download on ios app store" 
              height="54px"
              >
            </a>
          </p>
          <p>
            <a href="{{ site.macOS_url }}">
              <img 
              src="./assets/img/badge-download-on-the-mac-app-store.svg" 
              alt="download on mac app store"
              height="54px"
              >
            </a>
          </p>
          {% endif %}
        </div>

      </div>

      <div class="col-md-6 py-5 d-flex justify_content_center">
        <img src="./assets/img/artboard_optimized.png" alt="" style="width: 100%; height: auto;">
      </div>
  </div>
  </header>