  <header class="p-2" role="banner">
    <div class="row">
      <div class="col-md-6">
        <h1 class="display-4">Authenticator: Widget & Backup</h1>
        <h6 class="lead">Secure and fast two-factor authentication manager for iPhone, iPad, iPod, Apple Watch and macOS.</h6>
        <button class="btn btn-dark">iOS</button>
        <button class="btn btn-dark">macOS</button>
      </div>
      <div class="col-md-6 py-5">
        <img src="./assets/img/artboard_optimized.png" alt="" style="width: 100%">
      </div>
  </div>
  </header>