<div class="container py-2">
  <nav class="navbar navbar-light" style="background-color: #fff;">
    <a class="navbar-brand row d-flex align-items-center" href="/">
      <div class="col-auto pe-0">
        <img src="/assets/img/icon-1025.png" 
        width="40"
        class="d-inline-block align-top" 
        alt="">
      </div>
      <div class="col-auto lh-1">
        <h1 class="h5 mb-0 lh-1 h5">Authenticator</h1>
        <small class="fs-6 text-muted font-monospace">by 2Stable</small>
      </div>
    </a>
  </nav>
</div>
