// Mixin itself
@mixin clearfix() {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }
  
  // Usage as a mixin
  .element {
    @include clearfix;
  }
  
@mixin float-left {
float: left !important;
}

@mixin float-right {
float: right !important;
}

@mixin float-none {
float: none !important;
}

.page-nav {
    color: $header-heading-color;
    text-align: center;
    background-color: $header-bg-color;

    @include large {
        padding: 5rem 6rem;
    }
}
