@import "normalize";
@import "rouge-github";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

//navigation
.page-nav {
    color: $header-heading-color;
    text-align: center;
    background-color: $header-bg-color;
}
